@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

*{
    font-family: "Poppins", sans-serif; 
    margin:0px 0px;
    padding:0px;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    
}

.material-symbols-outlined {
  font-variation-settings:
  
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}
.tab img{
border-radius: 50%;
height:150px;
width:150px;
margin-bottom: 10px;

}

body{
margin:0px;
padding:0px;
position: relative;
font-family: Okra, Helvetica, sans-serif;
}
.main-conatiner{
    max-width:1100px;
    margin:0px auto;
    /* margin-left: 120px; */
    position: relative;

}
.header-conatiner{
    width:inherit;
    display: flex;
    align-items: center;
    justify-content: left;
    /* margin-top: 10px; */
    margin: 0px auto;
    margin-top:10px;
   
}
#logo img{
    margin-right: 20px;
    height:30px;
    width:127px;
   
}
.location-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border:0.5px solid silver; */
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    padding:15px;
    gap:20px;
    width:70%;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    /* box-shadow: 1px 2px 2px 2px  rgb(236, 235, 235); */
    transition: opacity 0.25s linear 0s, visibility 0.25s linear 0s, height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
    overflow:hidden;
}
.search{
    display: flex;
    align-items: center;
    gap:10px;
    

}
.location{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 14px;
    color:rgb(146, 147, 148);
    border-right:1px solid silver;
    padding-right: 10px;
    white-space: nowrap;
}
.down-triangle{
    margin-left: 10px;
}
.search-text{
  white-space: nowrap;
    font-size: 14px;
    color:rgb(146, 147, 148)

}
.log-in-section a
{   font-size:18px;
    text-decoration: none;
    color:rgb(146, 147, 148);
    font-weight:lighter;
    white-space: nowrap;
}
.log-in-section{
    margin-left: 80px;
    display: flex;
    align-items: center;
    gap:50px;
}
.location-details{
  max-width:1100px;
  margin:0px auto;
    font-size: 12px;
    color:rgb(146, 147, 148);
    display: flex;
    gap:10px;
    margin-top: 50px;
}

.location-detail:hover{
    cursor: pointer;
    color:rgb(239, 79, 95);  
}

.location-details-last{
    color: rgb(207, 207, 207);
}
.service-type-main-main{
  max-width:1100px;
  margin:0px auto;
  position: sticky;
  top:0px;
}
.service-type-main-main-responsive{
  max-width:1100px;
  margin:0px auto;
  border:1px solid silver;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  /* position: sticky; */
  /* top:0px; */
}

.service-type-main{
  /* max-width:350px; */
  /* margin:0px auto; */
  position: relative;

}

.service-type{
  /* max-width:320px; */
    display: flex;
    align-items: center; 
    gap:10px;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* padding:40px 20px; */
    font-size: 20px;
    color:rgb(102, 102, 102);
    border-bottom: 0.5px solid rgb(230, 224, 224);
    position: sticky;
    top:0px;
   
    
    /* margin-left: 130px; */
   
}
.delivery{
    display: flex;
    align-items: center;
    gap:15px;
    color: rgb(239, 79, 95);
    padding: 15px;
    border-bottom:2px solid rgb(239, 79, 95);

}
.delivery:hover{
    cursor: pointer;
}
.logos{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
}
.logos-background-color-pink{
    background-color: rgb(252, 238, 192);
    height: 60px;
    width: 60px;
}
.logos-background-color-gray{
    background-color: rgb(248, 248, 248);
    height: 60px;
    width: 60px;
}
.logos img{
width: 100%;
height: 100%;
}
.dining{ 
    display: flex;
    align-items: center;
    gap:15px;
}
.dining:hover{
    cursor: pointer;
}
.night-life{
    display: flex;
    align-items: center;
    gap:15px;
}
.night-life:hover{
    cursor: pointer;
}
/* ------------------------Special responsive Strats---------- */
.special-container-responsive{
  margin:0px auto;
  margin:0px 3px;
  padding:0px 0px 10px 0px;
  margin-bottom: 20px;
  position: sticky;
  top:0px;
  z-index: 3;
  border:1px solid silver;
  border-radius: 5px;
  background-color:rgb(255, 255, 255);

}
.special-responsive{
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  gap:10px;
  /* flex-wrap: wrap; */
  /* margin:20px 0px;  */
  /* padding: 33px 0px; */
  position: sticky;
  top:0px;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  transition: top 0.5s ease-in-out 0s;
  /* margin:0px 20px 20px 20px ; */
  padding: 0px 3px;
  /* padding-left: 123px; */
  width:100%; 
   margin:0px auto;
}
.special-main-responsive{
  background-color: rgb(255, 255, 255);
  position: relative;
  padding: 5px 0px 0px 0px; 
  
}

/* ------------------------Special responsive Ends---------- */
.special-container{
  background-color: white;
  /* max-width:1100px; */
  padding-left:130px;
  position: sticky;
  top:0px;
  z-index: 3;

}
 .special-main{
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 33px 0px 0px 0px; 
    
}
.special{
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    /* flex-wrap: wrap; */
    /* margin:20px 0px;  */
    /* padding: 33px 0px; */
    position: sticky;
    top:0px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    transition: top 0.5s ease-in-out 0s;
    padding-bottom:30px;
    /* padding-left: 123px; */
    width:100%; 
     margin:0px auto;
}


.filter-logo{
    display: flex;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.filter-logo:hover{
    cursor: pointer;
    background-color: rgb(238, 234, 234);
}
.rating{
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.rating:hover{
    cursor: pointer;
    background-color: rgb(238, 234, 234);
}
.pure-veg{
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);

}
.pure-veg:hover{
    cursor: pointer;
    background-color: rgb(238, 234, 234);
}
.cuisines{
    display: flex;
    align-items: center;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.cuisines:hover{
    cursor: pointer;
    background-color: rgb(238, 234, 234);
}
.more-filters{
    display: flex;
    align-items: center;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.more-filters:hover{
    cursor: pointer;
    background-color: rgb(238, 234, 234);
}
.inspiration-container-main{
    background-color: rgb(245, 241, 241);


}
.inspiaration-container{
    max-width:1100px;
    margin:0px auto;
    /* padding-left: 130px; */
    padding-top:20px;
    background-color: rgb(245, 241, 241);

}
.inspiaration-container h1{
    color:rgb(95, 95, 97);
    font-weight: lighter;
}
.inspiration{
    color: #1c1c1c;
    display: flex;
    box-sizing: border-box;
    /* gap:30px; */
    gap:2.73%;
    padding:30px 0px;
    position:relative;
    
}
.inspiration-cards{
    /* width:150px; */
    width:13.64%;
    height:13.64%;
    /* height:150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inspiration-cards:hover{
    cursor: pointer;
}
.wrapper1 .top-brands-title{
  margin:0px auto;
  margin: 40px 0px;
  /* margin-top:40px; */
  /* margin-bottom: 40px; */
  /* margin:40px 0px; */
  /* margin-left:130px; */
  color: rgb(28, 28, 28);
  font-weight: lighter;
  /* width:1100px; */
 
}
.top-brands-title-responsive{
  
  margin: opx auto;
  text-align: center;
  margin-top:30px;
  margin-bottom:30px;
  
}
.card1{
    width:150px;
    height:150px;
   
}
.card1 img{
    border-radius: 50%;
    width:100%;
    height:100%;
}
.card1-text{
   margin: 6px 0px 0px;
   font-size: 14 px;
   line-height: 18 px;
   font-weight: 500;
  
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' black,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
    
  }
  .navigate{
    position:absolute;
    right:40px;
    top:85px;
    border-radius: 50%;
    border:4px solid pink;
    z-index:2;
    background-color: white;
  }
  .navigate:hover{
    cursor: pointer;
  }
  .top-brands{
    width:1100px;
    margin:0px auto;
  }
  .top-brands h1{
    margin-top:40px;
    margin-bottom: 40px;
    /* margin:40px 0px; */
    /* margin-left:130px; */
    color: rgb(95, 95, 97);
    font-weight: lighter;
    /* width:1100px; */
    margin:0px auto;
  }
  .card2-container{
    width:1100px;
    display: flex;
    align-items: center;
    gap:10px;
  }
  .card2{
    margin-bottom:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height:150px;
    border-radius:50%;
    border:1px solid silver;
    padding:5px 5px;
  }
  .first-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height:150px;
    border-radius:50%;
    border:1px solid silver;
    overflow: hidden;
    background-color: rgb(255, 188, 13);
    padding: 5px;
}
.first-card:hover{
    cursor: pointer;
}
.card2:hover{
    cursor: pointer;
}
  
    
.first-card .sc{
    width:76%;
    height:76%;
    /* border-radius:inherit; */
} 
.card2 img{ 
    width:144px;
    height:144px;
    border-radius:inherit;
  }
  .img-with-details{
    width:152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    word-wrap: break-word;
  }
  .card2-container{
    position: relative;
    /* width: */
  }
  .navigate1{
    position:absolute;
    right:25px;
    top:70px;
    border-radius: 50%;
    border:4px solid pink;
    z-index:2;
    background-color: white;
  }
  .navigate1:hover{
    cursor: pointer;
    
  }
  .card2-time {
    color: rgb(95, 95, 97);
    font-weight: lighter;
    font-size: 14px;
  }
  .brand-name{
    text-align: center;
    color: rgb(95, 95, 97);
    font-weight: lighter;
    word-break: break-word;
    line-height: 1.2;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    /* white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis */
  }
  .brands-name-time{
    display: flex;
    align-items: center;
    gap:1px;
  }
  .delivery-restaurents{
    margin:40px 0px;
    max-width:1100px;
    margin:30px auto;
    /* margin-left:130px; */
    color: rgb(95, 95, 97);
    font-size:30px;
    font-weight: 500;
  }
  .delivery-restaurents-responsive{
    margin:0px auto;
    margin-top:30px;
    margin-bottom:20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .all-cards-container{
    max-width:1100px;
    margin:0px auto;
  }
  #main-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* gap:50px; */
    /* margin:0px auto; */
    /* padding-bottom: 20px; */
  }
  #cards:hover{
    cursor: pointer;
    border: 1px  rgb(129, 124, 124);
    
    box-shadow: 2px 2px 10px 10px rgb(245, 241, 241);
    /* transform:scale(1.2); */
    /* padding: 20px 20px; */
    transition: all .2s linear; 
  }
  #cards{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:348px;
    /* width:27.27%; */
    height:auto;
    padding:10px;
    border-radius: 8px;
    margin: 0px auto;
    object-fit: contain; 
    margin-bottom: 50px;
    
  }
  .card-a-tag{
    width:300px;
    text-decoration:none;
  }
  
  /* .image{
    width:328px;
    height:248px;
    border-radius: 15px;   
} */

.image img{
  width:328px;
  height:248px;
  position: relative;
    /* width:100%;
    height:100%; */
    border-radius: 8px;
    /* object-fit: contain; */
}
.promoted{
    position:absolute;
    top:15px;
    left:16px;
    padding:0px 5px;
    font-size: 9px;
    line-height: 12px;
    background: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(4px); */
    border-radius: 2px;
    color:rgb(255, 255, 255);
}
.promoted-responsive{
  position:absolute;
  top: 15px;
  left:8px;
  padding:0px 5px;
  font-size: 9px;
  line-height: 12px;
  background: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(4px); */
  border-radius: 2px;
  color:rgb(255, 255, 255);
}

.pro-off{
    position: absolute;
    bottom:150px;
    left:10px;
    background: rgb(217, 38, 98);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding:0px 6px;
    line-height: 18px;
    margin: 0px 0px 10px;
}
.pro-off-responsive{
  position: absolute;
  bottom:159px;
  left:6px;
  background: rgb(217, 38, 98);
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding:0px 6px;
  line-height: 18px;
  margin: 0px 0px 10px;
}
.standard-off{
    position: absolute;
    bottom:125px;
    left:10px;
    background: rgb(37, 111, 239);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding:0px 6px;
    line-height: 18px;
    margin: 0px 0px 10px;
}
.standard-off-responsive{
  position: absolute;
    bottom:135px;
    left:6px;
    background: rgb(37, 111, 239);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding:0px 6px;
    line-height: 18px;
    margin: 0px 0px 10px;

}
.d-time{
    position: absolute;
   bottom:133px;
   left:285px;
   padding:2px 2px;
   background: rgba(255, 255, 255, 0.8);
   backdrop-filter: blur(4px);
   border-radius: 5px;
   font-size: 12px;
   color: rgb(54, 54, 54);
}
.d-time-responsive{
  position: absolute;
  bottom:143px;
  left:275px;
  padding:2px 2px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  font-size: 12px;
  color: rgb(54, 54, 54);

}
.r-name{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(28, 28, 28);
}
.r-name-responsive{
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(28, 28, 28);
}
.r-name-ratings{
  width:328px;
    padding:10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
}
.r-name-ratings-responsive{
    width:300px;
    padding:10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
}
.ratings{
    display: flex;
    align-items: center;
    gap:4px;
    /* justify-content: center; */
    border-radius:6px;
    border: 1px solid rgb(36, 150, 63);
    background-color: green;
    color:white;
    padding:0 4px;
    height:20px;
    max-width:50px;
    font-size:13px;
    text-decoration: none;
}
.ratings-responsive{
  display: flex;
  align-items: center;
  gap:7px;
  padding:2px;
  /* justify-content: center; */
  border-radius:6px;
  border: 1px solid rgb(36, 150, 63);
  background-color: green;
  color:white;
  height:20px;
  /* max-width:50px; */
  font-size:13px;
  text-decoration: none;
}
.r-details-price{
  width:328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
.r-details-price-responsive{
  width:328px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;

}
.r-details{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(105, 105, 105);
    width: 56%;
    text-decoration: none;
   
}
.price{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: rgb(105, 105, 105);
    width: 40%;
}
.safe-protocol{
  width:328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;

}
.incr-img img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.safety-img img{
  display: flex;
  align-items: center;
  justify-content: center;

}
.last-msg{
    font-size: 12px;
    text-align: left;
    color: rgb(130, 130, 130);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
}
.incr-img-last-msg{
  display: flex;
  align-items: center;
  gap:10px;
}

/* -------------------------------------card1.html  css starts here-------------------- */


/* -----------------------------------Footer Section------------------------------------------------------- */

.end-search-result-main{
    max-width:1100px; 
    margin-top:20px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
}
.end-search-result-main-responsive{
  max-width:1100px; 
  margin-top:20px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.end-search-result{
    color: rgb(28, 28, 28);
    font-size: 25px;
    line-height: 1.2;
    font-weight: 500;
}
.end-search-result-responsive{
  color: rgb(28, 28, 28);
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

}
.end-search-image{
    width:125px;
}
.end-search-image img{
    width:100%;
    height:100%;
}
.inner-end-search-result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:150px;
}
.inner-end-search-result-responsive{
  margin: 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.explore-near-options{
    list-style-type:none;
    padding-bottom: 30px;
}

/* .explore-near-options ul{
  padding-left:0px;
} */
/* .explore-near-options-h1-responsive{
  margin-top:40px;
  margin-left: 100px;
} */
.explore-near-options-responsive .item-1 li{
  font-size: 16px;
}
.explore-near-options-responsive{
  margin: 0px 10px 20px 10px;
}
.item-1{
    max-width:1100px;
    margin:0px auto;
    padding-left: 15px;
    /* width:100%; */
    display: flex;
    align-items: center;
    padding:20px 20px 20px 20px ;
    border:1px solid silver;
    border-radius: 5px;
    justify-content:space-between;
    margin-top:15px;
    background-color: white;
    font-size: 20px;
    color:rgb(28, 28, 28);   
}
.item-1:hover{
    cursor: pointer;
}
.explore-near-options-main{  
   background-color: rgb(250, 249, 249);  
}
.explore-near-options-main-inner{
    max-width:1100px;
    margin:0px auto;
}
.explore-near-options-main-inner h1{
    padding-top: 20px;
    color:rgb(54, 54, 54);
    font-size: 30px;
    font-weight: 500;
}
.explore-near-options-h1-responsive{
  margin:0px auto;
  text-align: center;
  /* margin-left:100px; */
}
.footer-last-section-main{
    background-color: rgb(243, 240, 240);
    
}
.footer-inner-last-section-1{
    max-width:1100px;
    margin:0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top:20px; */
    padding-top:30px;
    margin-bottom:50px;
}
.zoma-logo{
    height: 28px;
    width: 132px;
}
.zoma-logo img{
  margin-left: 10px;
    height: 100%;
    width: 100%;
}
.india-logo{
    display: flex;
    align-items: center;
    gap:10px;
    border:1px solid silver;
    border-radius: 8px;
    padding:4px 8px;
}
.india-logo:hover{
    cursor: pointer;
}
.india-logo-img{
    width:20px;
    height:20px;
}
.india-logo-img img{
    width:100%;
    height:100%;
}
.world-logo{
    display: flex;
    align-items: center;
    gap:10px;
    border:1px solid silver;
    border-radius: 8px;
    padding:5px 8px;
}
.world-logo:hover{
    cursor: pointer;
}
.world-logo-img{
    width:20px;
    height:20px;
}
.world-logo-img img{
    width:100%;
    height:100%;
}
.india-world{
    display: flex;
    gap:20px;  
}
.footerlists{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
    margin:0px auto;
    /* gap:5px; */
}
.list1-main{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.list-title{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0px 0px 12px;
}
.list-item{
  font-size: 14px;  
  line-height: 21px;
  color: rgb(105, 105, 105);
}
.list-item:hover{
    cursor: pointer;
}
.inner-list1{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.inner-list2{
    display: flex;
    flex-direction: column;
    /* gap:10px; */
    margin-top: 20px;
}
/* ------------------------------------Wrapper css--------------------------------------------------------------- */
/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
/* body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #5372f0; 
} */



.wrapper-main-container-0{
  
  margin:0px auto;
  padding-top: 30px;
    background: rgb(248, 248, 248);
    /* background-color: #5ddd07; */
}

.wrapper {
  /* padding: 35px; */
  position: relative;
  overflow-x: hidden;
  max-width:1100px;
  /* background: rgb(248, 248, 248); */
  margin:0px auto;
  /* border-radius: 13px; */
}
.wrapper1 {
  /* padding: 35px; */
  position: relative;
  overflow-x: hidden;
  width: 100%;
  /* background: rgb(248, 248, 248); */
  margin:0px auto;
  /* border-radius: 13px; */
}
.wrapper-h1 h1{
  margin-bottom: 40px;
  margin-top: 30px;
}
.wrapper-h1-responsive{
  margin:0px auto;
  text-align: center;
  /* margin-left:40px; */
  margin-bottom: 40px
}
.wrapper h1{
  margin:40px 0px;
  width: 100%;
  margin:0 auto; 
    color: rgb(28, 28, 28);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
}
.wrapper1 h1{
  width: 100%;
  margin:0 auto;
  color: rgb(28, 28, 28);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
}
.wrapper .icon {
  position: absolute;
  top: 90px;
  height: 40%;
  width: 80px;
  display: flex;
  align-items: center;
  /* justify-conte  nt: ; */
  /* border:2px solid red; */
  border-radius: 50%;
}
.wrapper1 .icon1 {
    position: absolute;
    top: 130px;
    height: 40%;
    width: 80px;
    display: flex;
    align-items: center;
    /* justify-conte  nt: ; */
    /* border:2px solid red; */
    border-radius: 50%;
  }
.icon:first-child {
  left: 0px;
  display: none;
  /* background: linear-gradient(90deg, #fff 70%, transparent); */
}
.icon:last-child {
  right: -10px;
  justify-content: flex-end;
  /* background: linear-gradient(-90deg, #fff 70%, transparent); */
}
.icon1:first-child {
  top:50px;
    /* left: -10px; */
    display: none;
    /* background: linear-gradient(90deg, #fff 70%, transparent); */
  }
  .icon1:last-child {
    right: -15px;
    justify-content: flex-end;
    /* background: linear-gradient(-90deg, #fff 70%, transparent); */
  }
.icon i {
  margin-bottom: 10px;
     display: flex;
    justify-content: center; 
    align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background: #e9e6e6;
}
.icon1 i {
  margin-bottom: 0px;
  display: flex;
  justify-content: center; 
  align-items: center;
 width: 40px;
 height: 40px;
 cursor: pointer;
 font-size: 12px;
 text-align: center;
 line-height: 30px;
 border-radius: 50%;
 background: #e9e6e6;
}
.icon i:hover {
  background: #eeeeed;
}
.icon:first-child i {
  margin-left: 10px;
  margin-bottom: 10px;
}
.icon:last-child i {
  margin-right: 15px;
  margin-bottom: 10px;
}

.icon1 i:hover {
    background: #e9e6e6;
  }
  
  .icon1:first-child i {
    /* margin-left: 5px; */
    margin-top: 50px;
  }
  .icon1:last-child i {
    margin-right: 15px;
    margin-top: 0px;
}
    /* margin-bottom: 10px; */
  

.wrapper #tabs-box {
  /* max-width:1100px; */
  display: flex;
  /* gap: 35px; */
  gap: 3.3%;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-bottom:30px;
}
.wrapper1 #tabs-box1 {
  height:180px;
    display: flex;
    /* gap: 30px; */
    gap:3.25%;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* margin-left: 20px; */
  }


#tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

#tabs-box1.dragging1 {
    scroll-behavior: auto;
    cursor: grab;
  }
 .tab {
  /* width:150px;
  height:150px; */
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  /* background: white; */
  /* padding: 13px 20px; */
  /* border-radius: 50%; */
  /* border-radius: 30px; */
  /* border: 1px solid #d8d5f2; */
}
/* .tab img{
  max-width:100%;
  max-height:100%;
} */

#tabs-box1 .tab1 {
    cursor: pointer;
    font-size: 1.18rem;
    white-space: nowrap;
    /* background: white; */
    /* padding: 13px 20px; */
    /* border-radius: 50%; */
    /* border-radius: 30px; */
    /* border: 1px solid #d8d5f2; */
  }
/* .tabs-box .tab:hover {
  background: #efedfb;
} */
#tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

#tabs-box1.dragging1.tab1{
    user-select: none;
    pointer-events: none;
  }

.wrapper ul{
    padding:0px;
}
.wrapper1 ul{
  padding:0px;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-main-1{
background-color: white;
max-width: 1100px;
margin:0px auto;
}
.log-in-display{
  display:none;
}




/* ---media queries--- */

.log-in-display-responsive{
  display: flex;
  flex-direction: column;
  padding:15px;
  /* border:1px solid silver; */
  position:absolute;
  top:50px;
  gap:10px;
  /* background-color:blueviolet ; */
}
.login-item{
  border:1px solid silver;
  padding:15px;
  background-color: chocolate;
}
#location-details-responsive{
  display: none;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
  margin-left: 8px;
  margin-right: 8px;

}
.location-details-responsive-inside{
  border-bottom: 1px solid rgb(238, 235, 235);
  margin-bottom: 30px;
  margin-left: 8px;
  margin-right: 8px;
}
.logos-responsive{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 8px;
  margin-right: 8px;
}
.list1-and-2-responsive{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;

}
.list3-and-4-responsive{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;

}
.location-search-responsive{
  margin: 0px 3px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 30px;
  padding: 10px 0px;
  box-shadow: rgba(28, 28, 28, 0.06) 1px 5px 13px 0px
}
.location-responsive{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-responsive{
  margin-right:10px;
  justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    background-color: rgb(238, 234, 234);
    width: 40px;
    height: 40px;
    
}
.footerlist-responsive{
  margin-top: 50px;
    padding-top: 50px;
}
.accordion{
  max-width: 1100px;
  margin:0px auto;
}


@media (max-width:769px){
  /* *{
    margin:0px 3px;
  } */
  .header-conatiner{
    display:none;
  }
  .special-container{
    display:none;
  }
  .special{
    display: none;
  }

  .promoted{
  display: none;
  }
  .pro-off{
  display: none;
  }
  .standard-off{
  display: none;
  }
  .r-details-price{
  display: none;
  }
  .d-time{
  display: none;
  }
  .ratings{
  display: none;
  }
  .delivery-restaurents{
  display: none;
  }
  .wrapper-h1{
  display: none;
  }
  .top-brands-title{
  display: none;
  }
  .explore-near-options-h1{
    display: none;
  }
  .end-search-result-main{
    display: none;
  }
  .explore-near-options{
    display: none;
  }
  #location-details-responsive{
    display:none;
  }
  .brand-name{
    font-size: 12px;
  }
  .image img{
    margin-right:8px;
  }
  .explore-near-options-main{
    padding-top: 25px;
    padding-bottom: 10px;

  }
  .logo-responsive{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:20px;
    margin-right:5px;
  }
}

@media screen and (min-width: 769px) {
    .menu-responsive {
      display: none;
    }
    #location-details-responsive{
      display:none
    }
    .footerlist-responsive{
      display:none;
    }
    .special-container-responsive{
      display:none;
    }
    .special-responsive{
      display: none;
    }
    .service-type-main-main-responsive{
      display: none;
    }
    .promoted-responsive{
      display:none;
    }
    .pro-off-responsive{
      display: none;
    }
    .standard-off-responsive{
      display: none;
    }
    .r-details-price-responsive{
      display: none;
    }
    .d-time-responsive{
      display: none;
    }
    .ratings-responsive{
      display: none;
    }
    .delivery-restaurents-responsive{
      display: none;
    }
    .wrapper-h1-responsive{
      display: none;
    }
    .top-brands-title-responsive{
      display: none;
    }
    .explore-near-options-h1-responsive{
      display: none;
    }
    .end-search-result-main-responsive{
      display: none;
    }
    .explore-near-options-responsive{
      display:none
    }
    #location-details-responsive{
      display: none;
    }
    .location-search-responsive{
      display: none;
    }
   
    }
@media screen and (max-width: 769px)
{
  .header-conatiner{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .menu-responsive {
    display: block;
  }
  .location-search{
    display: none;
  }
  .log-in-section{
    display: none;
  } 
  .empty{
    display:none;
  }
  .location-details{
    display: none;
  }
  .footerlists{
    display:none;
  }
  .footer-inner-last-section-1{
    display:none;
  }
  .service-type-main-main{
    display:none;
  }
  .service-type-main-main-responsive{
    display: none;
  }
  .special-responsive{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: scroll;
  }
  .special-responsive::-webkit-scrollbar{
      display: none;
    }

  
  /* .tab img{
    width:80px;
    height:80px;
  } */
  .tab{
    font-size: 10px;
  }
  .wrapper #tabs-box{
    margin-bottom:20px;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    gap:19px; 
    margin:0px 3px;
  }
  .tab1 img{
    width:80px;
    height:80px;
    border-radius: 50%;
  }
  .wrapper1 #tabs-box1{
    gap:2%;
    height:110px;

  }
  #location-details-responsive{
    display:none;
  }
}
@media screen and (min-width: 375px) and (max-width: 389px) 
{
  .tab img{
    width:60px;
    height:60px;
    border-radius: 50%;
  }

.card2{ 
  width:60px;
  height:60px;

}
.tab1 img{
  width:60px;
  height:60px;
  border-radius: 50%;
}
.wrapper .icon{
  display: none;
}
 .wrapper1 #tabs-box1{
    margin-left:0px;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .wrapper1 #tabs-box1::-webkit-scrollbar{
    display: none;
  }
  .icon1:last-child i{
    margin-right: 14px;
    margin-top: 1px;
  }
  .wrapper1 .icon1{
    top: 77px;
  }
  .icon1 i{
    width: 28px;
    height: 28px;
  }
  .header-conatiner {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px;
    margin-bottom: 30px;
    
  }
  .special-responsive::-webkit-scrollbar{
    display: none;
  }


}

@media screen and (min-width:390px) and (max-width:414px)
{
  .tab img{
    width:70px;
    height:70px;
    border-radius: 50%;
  }

.card2{ 
  width:85px;
  height:85px;
}
.wrapper .icon{
  display: none;
}

.wrapper1 .icon1{
  top:88px;
  width:50px;
}
.icon1:last-child i{
  margin-right: 17px;
    margin-top: 0px;
}
.wrapper1 #tabs-box1{
  margin-left:1px;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: scroll;
  gap:0%;
}
.wrapper1 #tabs-box1::-webkit-scrollbar{
  display: none;
}
.icon1 i{
  width: 28px;
  height: 28px;
}
#location-details-responsive{
  display:none;
}
.header-conatiner {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px;
  margin-bottom: 30px;
  
}
.special-responsive::-webkit-scrollbar{
  display: none;
}




}


